@model ForgotPasswordModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<br/><br/><br/><br/><br/>
<div align="center">
    <div style="width: 75%">
        <div class="rounded shadow-lg background-light-grey">
            <br/>
            <h4 class="text-center primary-text display-6">Reset Your QueueIT Password</h4>
            <form asp-action="ForgotPassword" method="post" class="form-horizontal">
                <div align="center">
                    <div style="width: 50%">
                        <div align="left">
                            <div>
                                <div class="form-group">
                                    <label asp-for="Email" class="secondary-text"></label>
                                    <div>
                                        <input asp-for="Email" class="form-control" placeholder="Enter email"/>
                                    </div>
                                    <small>Enter your email and we'll send you a link to reset your password.</small>
                                </div>
                                <button class="my-btn my-btn-primary">Submit</button>
                            </div>
                            <br/><br/>
                        </div>
                    </div>
                </div>
                <div class="errors" asp-validation-summary="All"></div>
            </form>
        </div>
    </div>
</div>