@model ResetPasswordModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<br/><br/><br/><br/><br/>
<div align="center">
    <div style="width: 75%">
        <div class="rounded shadow-lg background-light-grey">
            <br/>
            <h4 class="text-center primary-text display-6">Reset Your QueueIT Password</h4>
            <form asp-action="ResetPassword" method="post" class="form-horizontal">
                <input asp-for="Token" type="hidden"/>
                <input asp-for="Email" type="hidden"/>
                <div align="center">
                    <div style="width: 50%">
                        <div align="left">
                            <div class="form-group">
                                <label asp-for="Password" class="secondary-text"></label>
                                <input asp-for="Password" class="form-control"/>    
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="secondary-text">Confirm Password</label>
                                <input asp-for="ConfirmPassword" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="my-btn my-btn-primary">Submit</button>
                <br/><br/>
                <div class="errors" asp-validation-summary="All"></div>
            </form>
        </div>
        </div>
</div>

